{% set page = 'home' %}
{% extends "./parts/_layout.njk" %}

{% block main %}
<main id="main" role="main" tabindex="-1">
  <div class="container">
    <h1 class="">{{ brand }}</h1>
    One person was in prison. 

    <p>I saw one man and he was in prison.</p>
    <p>I had an urge to take him out from the prison so I approached guards and asked if I can meet him.</p>
    <p>Then one of the guards asked me, “By what authority do you ask such a thing?”</p>
    <p>I could not answer because I neither have a good background nor money. I had nothing.</p>
    <p>I was at a loss and I didn’t know what to do next.</p>
    <p>Suddenly Jesus appeared.</p>
    <p>Jesus went to the guard and asked the same thing I had asked.</p>
    <p>The guard asked the same to Jesus.</p>
    <p>Jesus replied, “ I have the authority of the Son of God.”</p>
    <p>But, the guard didn’t understand what Jesus was talking about.</p>
    <p>The guard only said he only cares about the power of the Roman emperor.</p>
    <p>Then Jesus disappeared.</p>
    <p>After a while, a man whose whole body was bitten and covered by blood and wounds, went into the jail with a chain in his hand.</p>
    <p>When I looked closely, he was Jesus. He became a sinner and went into jail.</p>
    <p>He went into the next room where the prisoner was locked and started to telling him, “I love you.”</p>
    <p>The man was out of his mind but his  mind began to wake up little by little when Jesus kept whispering his love in his ear day and night.</p>
    <p>Jesus told the guards.</p>
    <p>“This man has now come to consciousness, I will be responsible for his sins from now on. Let him go.”</p>
    <p>After hearing that, guards had a meeting and came back.</p>
    <p>“If you want us to let him go, we must kill you.”</p>
    <p>Jesus said “Do whatever needs to be done. Just let him go.”</p>
    <p>Finally, the jail door was opened and he came out without knowing what had just happened.</p>
    <p>Looking at him, Jesus was joyful. Though he has to die but the one who he loves gains a new life so he was happy. Jesus was in tears, but it was like a tear of joy in sorrow.</p>
    <p>I was looking at the scene and hoped that man could turn around and look at Jesus at least one time.</p>
    <p>But he walked his own way worrying about what he should eat, what he should wear. He was full of worries about himself only.</p>
    <p>As he was walking, suddenly there was a thunder from the sky and he became scared.</p>
    <p>He was in sudden fear, so he looked around then he looked back.</p>
    <p>There was Jesus hung on the cross who died for him.</p>
    <p>He remembered Jesus who saved him.</p>
    <p>He changed this direction and started to run towards the cross.</p>
    <p>We live as if nothing had happened to gain this new life in Christ.</p>
    <p>The man who was saved by Jesus was me.</p>
    <p>Jesus died for me to give me a new life.</p>
    <p>“But God demonstrates his own love for us in this: While we were still sinners, Christ died for us.”</p>
    <p>Romans 5:8</p>
    <p>AMEN</p>
  </div>
</main>
{% endblock %}